# Network optimization for revenue management

#### Dependencies

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import shutil
import sys
import os.path

#Install modeler "pyomo"
if not shutil.which("pyomo"):
    !pip install -q pyomo
    assert(shutil.which("pyomo"))
import pyomo.environ as pyomo

#If using an older version of Python, the following import might help : 
#from __future__ import print_function #if python < 3

In [2]:
#conda install -c conda-forge glpk

#### Data loading

In [3]:
#Read data tables
products=pd.read_csv('products.csv', sep=';')
m=len(products)
flights=pd.read_csv('flights.csv', sep=';')
n=len(flights)
aircrafts=pd.read_csv('aircrafts.csv', sep=';')
p=len(aircrafts)
print('Read : ',m,' products ',n,' flights ',p,' aircrafts ')

Read :  30  products  6  flights  6  aircrafts

#### List of all products, their associated price (=fare in â‚¬), the current number of seats sold and the demand forecast

In [8]:
products.head()

,Route,BookingClass,Name,Fare,SeatsSold,ExpectedDemandToCome,ListofFlights
0,FCOAMS,High,'FCOAMS_High',650,5,5,"[AF1005,AF1040]"
1,FCOLHR,High,'FCOLHR_High',600,0,0,"[AF1005,AF1080]"
2,BCNAMS,High,'BCNAMS_High',550,5,10,"[AF1049,AF1040]"
3,FCOFRA,High,'FCOFRA_High',550,5,10,"[AF1005,AF1018]"
4,BCNFRA,High,'BCNFRA_High',525,5,5,"[AF1049,AF1018]"

#### List of all scheduled flights, their origin and destination, and the physical aircraft ID currently used

In [5]:
flights

  FlightNumber FlightDeparture FlightArrival  AircraftId
0       AF1001             MAD           CDG           1
1       AF1049             BCN           CDG           2
2       AF1005             FCO           CDG           3
3       AF1080             CDG           LHR           4
4       AF1018             CDG           FRA           5
5       AF1040             CDG           AMS           6

#### List of all the aircrafts in the fleet and their capacity

In [6]:
aircrafts

   AircraftId  Capacity
0           1        50
1           2        80
2           3       100
3           4        50
4           5        80
5           6       100

## Part 1 - Network Optimization

#### Write the revenue management linear program as : 
$$ \begin{align*}\text{min} f.x \\\text{s.t.} Ax <= c \\x &\geq 0\end{align*} $$

![](Problem.jpg)

## Part 2 - Aircraft Allocation

In [38]:
A = np.zeros(shape=(n,m))
for i in range(n):
    flight = flights['FlightNumber'][i]
    #Ori = flights['FlightDeparture'][i]
    #Dst = flights['FlightArrival'][i]
    
    for j in range(m):
        list_flights = products['ListofFlights'][j]
        if (flight in list_flights):
            A[i,j] = 1

In [34]:
C = np.zeros(n)
for i in range(n):
    Capacity = aircrafts['Capacity'][i]
    for j in range(m):
        Capacity -= products['SeatsSold'][j]*A[i,j]
    C[i] = Capacity
    #print(Capacity)

In [35]:
model = pyomo.ConcreteModel()

model.x = pyomo.Var(products['Name'], domain = pyomo.NonNegativeReals)

model.revenue = pyomo.Objective(sense= pyomo.maximize, 
                               expr = sum(model.x[products['Name'][i]]*products['Fare'][i] for i in range(m)))

In [36]:
model.demand = pyomo.ConstraintList()

for i in range(m):
    model.demand.add(model.x[products['Name'][i]] <= products['ExpectedDemandToCome'][i])

model.capacity = pyomo.ConstraintList()

for i in range(n):
    flight = flights['FlightNumber'][i]
    model.capacity.add(sum([model.x[products['Name'][j]]* A[i,j] for j in range(m)]) <= C[i])
    
solver = pyomo.SolverFactory('glpk')

solver.solve(model)

print('Optimal Allocation')
for i in range(m):
    print('   ', i, ':', model.x[products['Name'][i]](), 'demand accepted')
print()
print('revenue = EU', model.revenue())

Optimal Allocation
    0 : 5.0 demand accepted
    1 : 0.0 demand accepted
    2 : 10.0 demand accepted
    3 : 10.0 demand accepted
    4 : 0.0 demand accepted
    5 : 0.0 demand accepted
    6 : 0.0 demand accepted
    7 : 0.0 demand accepted
    8 : 5.0 demand accepted
    9 : 0.0 demand accepted
    10 : 5.0 demand accepted
    11 : 0.0 demand accepted
    12 : 5.0 demand accepted
    13 : 0.0 demand accepted
    14 : 5.0 demand accepted
    15 : 0.0 demand accepted
    16 : 0.0 demand accepted
    17 : 0.0 demand accepted
    18 : 0.0 demand accepted
    19 : 10.0 demand accepted
    20 : 0.0 demand accepted
    21 : 5.0 demand accepted
    22 : 5.0 demand accepted
    23 : 0.0 demand accepted
    24 : 0.0 demand accepted
    25 : 0.0 demand accepted
    26 : 0.0 demand accepted
    27 : 0.0 demand accepted
    28 : 10.0 demand accepted
    29 : 0.0 demand accepted

revenue = EU 23000.0

In [37]:
pyomo.SolverFactory('glpk').solve(model).write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 23000.0
  Upper bound: 23000.0
  Number of objectives: 1
  Number of constraints: 37
  Number of variables: 31
  Number of nonzeros: 79
  Sense: maximize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.01660633087158203
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

# Part 2

In [ ]:
A = np.