# Testing sparse matrices

In [1]:
import numpy as np
from scipy import sparse

In [2]:
import pandas as pd

In [3]:
dataframe = pd.read_csv('toy.csv', header=None, names=['row', 'col'])

In [4]:
dataframe

    row  col
0     0    2
1     0    5
2     1    0
3     1    3
4     1    6
5     2    1
6     2    2
7     2    7
8     3    1
9     3    2
10    3    3
11    4    3
12    4    4
13    4    5
14    4    7

In [5]:
row = list(dataframe['row'])
col = list(dataframe['col'])

In [6]:
A_coo = sparse.coo_matrix((np.ones_like(row), (row, col)), shape=(5, 10))

In [7]:
A_coo

<5x10 sparse matrix of type '<class 'numpy.int32'>'
	with 15 stored elements in COOrdinate format>

In [8]:
sparse.csr_matrix(A_coo)

<5x10 sparse matrix of type '<class 'numpy.intc'>'
	with 15 stored elements in Compressed Sparse Row format>

In [9]:
A_coo.toarray()

array([[0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0, 0, 1, 0, 0],
       [0, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 1, 0, 1, 0, 0]])

In [10]:
A_csr = sparse.csr_matrix(A_coo)

In [11]:
A = A_coo + A_csr

In [12]:
A

<5x10 sparse matrix of type '<class 'numpy.intc'>'
	with 15 stored elements in Compressed Sparse Row format>

In [13]:
A.toarray()

array([[0, 0, 2, 0, 0, 2, 0, 0, 0, 0],
       [2, 0, 0, 2, 0, 0, 2, 0, 0, 0],
       [0, 2, 2, 0, 0, 0, 0, 2, 0, 0],
       [0, 2, 2, 2, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 2, 2, 2, 0, 2, 0, 0]], dtype=int32)